.formsignin table { font-family:arial; font-size:12; margin-left:10px; margin-top:5px; }
.formsignin td.flabel { text-align:right; padding:5px; }
.formsignin td.flabel span.label { line-height:20px; vertical-align:middle; }
.formpaymentmethods table.paymentmethodlist { width:100%; }
.formpaymentmethods table.paymentmethodlist td { vertical-align:middle; padding:2px; }
.formpaymentmethods table.paymentmethodlist img.thumbnail { vertical-align:middle; }
.formpaymentmethods table.paymentmethodlist span.text { line-height:26px; }
.formpaymentmethods table.paymentmethod table.details { width:100%; }
.forminput tr td { padding:2px 0px; }
.formregistration tr td { padding:2px 2px; }
.formshippingmethods table { width:100%; }
.formshippingmethods tr td { padding:2px 5px; vertical-align:middle; }
.formshippingmethods td.thumbnail { text-align:center; }
.formtermsconditions .terms { width:95%; max-height:200px; overflow:auto; padding:10px; border-style:solid; border-width:1px; }
.formtermsconditions tr { vertical-algin:top; }
.formtermsconditions tr td { padding:2px 0px; }
.formtermsconditions table { font-family:arial; font-size:12; }
.formtermsconditions td.statement { padding-top:2px; }
.accountform .borderable .inner { padding-left:10px; }
.accountform .formelementtext { padding:4px; }
.formdecision .choicelist td { padding:2px 4px; oborder-bottom:1px solid #666; }
.formdecision .choicelist td { line-height:16px; vertical-align:middle; }
.formdecision .choicelist .choiceinput { width:35px; text-align:center; }
.formdecision .choice label { display:inherit; padding-left:0px; }
.formdecision .choicelist { width:100%; }
.formdecision .choice { width:100%; }
.formdecision .choice .description { padding-left:4px; }
.formagecheck tr td { padding:2px 0px; }
.formtext img.thumbnail { float:right; vertical-align:top; }
.formgraphicalverifier table tr td { padding:2px 0px; }
.formcustinfo table tr td { padding:2px 5px; }
.formcustinfo table { width:100%; }
.formimage .caption { padding:4px; }
.formimage img { max-width:100%; }
.formitemsordered tr td { padding:2px; }
.formitemsordered .cartimagecell { vertical-align:top; width:100px; padding-right:5px !important; }
