.unread { font-weight:bold; }
.messagewhen { font-weight:normal; color:#565656; float:right; padding-left:20px; }
.selected .messagewhen { color:white; }
.message { padding:20px; }
.message .table { border-bottom:1px solid #bbb; padding-bottom:10px; }
.message .col0 { text-align:right; font-weight:bold; width:1px; }
.message .row { border-top:none; }
.message .label { padding-top:20px; }
.calendartable.maximum { height:100%; }
.calendartable > .title { border-bottom:1px solid #bbb; padding:10px; background-color:#fff; font-size:24px; color:#888; font-weight:bold; }
.calendartable .search { background-color:#e5e5e5; border-bottom:1px solid #bbb; padding:5px; }
.calendartable .scroll { overflow-y:auto; overflow-x:hidden; position:relative; }
.calendartable .controls { background-color:#ccc; border-top:1px solid #bbb; padding:3px; }
.calendartable .fixed { padding-right:15px; overflow:hidden; }
.calendartable .month { text-align:center; padding:5px; background-color:#ccc; border-bottom:1px solid #bbb; }
.calendartable .weekdays { background-color:#ccc; }
.calendartable .weekdays .box { text-align:center; padding:3px; font-weight:bold; }
.calendartable .box { padding:3px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
.calendartable .box.last { border-right:0px; }
.calendartable .week.last .box { border-bottom:0px; }
.calendartable .week > .box { vertical-align:top; }
.calendartable .other { background-color:#eee; }
.calendartable .other .number { color:#888; }
.calendartable .day .number { float:right; }
.calendartable .holiday { font-style:italic; color:#bbb; }
.calendartable .today .number { font-weight:bold; }
.slidepanel { position:relative; margin:0px 30px; }
.slidepanel .next { position:absolute; right:-30px; width:30px; top:0px; bottom:0px; text-align:center; font-family:Times; font-weight:bold; font-size:30px; color:white; background:none; border:none; }
.slidepanel .previous { position:absolute; left:-30px; width:30px; top:0px; bottom:0px; text-align:center; font-family:Times; font-weight:bold; font-size:30px; color:white; background:none; border:none; }
.slidepanel .move[disabled] { filter:alpha(opacity=10); opacity:0.1; }
.slidepanel .slide { white-space:nowrap; overflow:hidden; }
.slidepanel .row { display:inline-block; padding:6px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.slidepanel .selected { background-color:white; }
.modal { position:fixed; top:0px; left:0px; bottom:0px; right:0px; }
.modal > .mask { filter:alpha(opacity=80); opacity:0.8; background-color:#ddd; position:fixed; top:0px; left:0px; bottom:0px; right:0px; }
.modal > .content { margin:0px auto; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0px 0px 40px #2a2a2a; -moz-box-shadow:0px 0px 40px #2a2a2a; -webkit-box-shadow:0px 0px 40px #2a2a2a; background-color:white; }
.modal .frame { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.toolbar .expand { width:50%; }
.toolbar .left { padding:0px 4px; white-space:nowrap; }
.toolbar .middle { padding:0px 4px; white-space:nowrap; }
.toolbar .right { padding:0px 4px; white-space:nowrap; }
.toolbar .first { padding-left:0px; }
.toolbar .last { padding-right:0px; }
.toolbar .cell { vertical-align:middle; }
.diff.maximum { height:100%; }
.diff .difftop { border-bottom:1px solid #aaa; }
.diff .diffbody { height:300px; }
.diff .diffcontrols { background-color:#ddd; border-top:1px solid #bbb; padding:4px; }
.diff .header { background-color:#ddd; border-bottom:1px solid #bbb; }
.diff .header .title { padding:5px 8px; font-weight:bold; }
.diff .to.title { border-left:1px solid #bbb; }
.diff .to.numbers { border-left:1px solid #bbb; }
.diff .number { text-align:right; padding:0px 8px; }
.diff .line { padding:0px 8px; }
.diff .compare { font-family:Monaco, monospace; line-height:14px; font-size:10px; }
.diff .selected .variance { color:white; }
.diff .marks { border-left:1px solid #aaa; }
.diffswatch { display:inline-block; width:11px; height:11px; vertical-align:text-bottom; margin:0px 4px 0px 8px; border:1px solid white; }
.tabs { padding-left:0px; }
.tabs li { background-color:#e8e8e8; color:#555; padding:6px 10px; list-style-type:none; margin:0px; }
.tabs .selected { background-color:#fff; color:#333; font-weight:bold; }
.menutabs { background-color:#f5f5f5; }
.menutabs .tab { padding:6px; border-bottom:1px solid #bbb; color:#888; }
.menutabs .tab.selected { background-color:#fff; font-weight:bold; color:#333; }
.menutabs.right .tab.selected { border-left:1px solid #fff; margin-left:-1px; }
.menutabs.left .tab.selected { border-right:1px solid #fff; margin-right:-1px; }
.treetable .cell.first .latch { float:left; line-height:16px; }
.treetable .cell.first .data { margin-left:15px; }
.table .before .node { margin-top:-5px; position:relative; }
.table .after .node { margin-bottom:-5px; position:relative; }
.tabpanel { background:#e5e5e5; background:-moz-linear-gradient(top,  #e5e5e5,  #f8f8f8); background:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#f8f8f8)); filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e5e5e5', EndColorStr='#f8f8f8', GradientType=0); position:relative; margin-top:14px; border:1px solid #bbb; padding:18px 10px 10px 10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.tabpanel > .controls { position:absolute; top:-12px; left:0px; width:100%; }
.tabpanel > .controls table { margin:0px auto; }
.tabpanel > .controls ul { list-style:none; margin:0px; padding:0px; }
.tabpanel > .controls li { background-color:#fff; color:#333; float:left; border-left:1px solid #bbb; border-top:1px solid #bbb; border-bottom:1px solid #bbb; padding:4px 10px; }
.tabpanel > .controls .first { border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-bottom-left-radius:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; }
.tabpanel > .controls .last { border-right:1px solid #bbb; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-bottom-right-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; }
.tabpanel > .controls > table { width:auto; }
.tabpanel > .controls .collapsed { font-weight:normal; }
.tabpanel > .controls .expanded { font-weight:bold; }
.menupanel { width:100%; border-collapse:separate; border-spacing:0px; *border-collapse:expression('separate', cellSpacing='0px'); }
.menupanel .menu-top ul { list-style-type:none; padding-left:0; }
.menupanel .menu-top li { padding:5px 15px; margin-right:2px; float:left; border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-left:1px solid #aaa; border-right:1px solid #aaa; border-top:1px solid #aaa; }
.menupanel .menu-top .selected { position:relative; bottom:-1px; margin-top:0px; background-color:#66f; color:#fff; border-left:1px solid #44f; border-right:1px solid #44f; border-top:1px solid #44f; }
.menupanel .menu-top .first { margin-left:10px; }
.menupanel .menu-side { vertical-align:top; }
.menupanel .menu-side ul { list-style-type:none; padding-left:0; }
.menupanel .menu-side li { padding:5px 10px; margin-bottom:2px; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-bottom-right-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; border-bottom:1px solid #aaa; border-right:1px solid #aaa; border-top:1px solid #aaa; }
.menupanel .menu-side .selected { position:relative; left:-1px; }
.menupanel .menu-side .first { margin-top:5px; }
.menupanel .menu-title { padding:6px 10px; background:url('../server/images/gradient.png') repeat-x bottom #66f; color:#fff; border-left:1px solid #44f; border-right:1px solid #44f; border-top:1px solid #44f; border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; }
.menupanel .menu-title .label { font-weight:bold; }
.menupanel .menu-other { float:right; color:#fff; }
.menupanel .menu-other a { color:#fff; }
.menupanel .menu-content { vertical-align:top; width:100%; background-color:#fff; padding:12px; border-left:1px solid #aaa; border-right:1px solid #aaa; }
.menupanel .menu-toolbar { background-color:#fff; padding:12px; border:1px solid #aaa; border-bottom-left-radius:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-right-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; }
.menupanel .menu-toolbar.empty { border-top:0px; padding:3px; }
.menupanel .menu-footer { font-size:10px; color:#888; padding:4px 0px; }
.definitionlist table { width:100%; }
.definitionlist .row { border-bottom:1px solid #CCC; }
.definitionlist .header { border-bottom:2px solid black; font-weight:bold; }
.definitionlist .cell { padding:2px 0px; }
.gantt .ganttnode { position:absolute; background-color:#888; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; height:16px; }
.toggletable .other { background:url('../server/images/gradient-small-invert.png') repeat-x left top #fbfbfb; color:black; overflow-x:hidden; }
.toggletable .other > .content { padding:12px; }
.toggletable .cell.first > .latch { float:left; }
.toggletable .cell.first > .content { margin-left:15px; }
.carousel { position:relative; }
.carousel .slides { overflow:hidden; }
.carousel .slide { position:relative; }
.carousel .previous { position:absolute; top:0px; left:0px; width:25%; background:none; }
.carousel .previous:hover { background:url('../server/images/arrow-previous.png') no-repeat left; }
.carousel .next { position:absolute; top:0px; right:0px; width:25%; background:none; }
.carousel .next:hover { background:url('../server/images/arrow-next.png') no-repeat right; }
.carousel .thumbnail-tray { position:relative; text-align:center; width:100%; }
.carousel .thumbnail-tray.inside { position:absolute; bottom:0px; }
.carousel .thumbnails { overflow:hidden; display:inline-block; vertical-align:middle; }
.carousel .thumbnail { cursor:pointer; float:left; }
.carousel .thumbnail-previous { cursor:pointer; visibility:visible; vertical-align:middle; }
.carousel .thumbnail-previous.disabled { visibility:hidden; }
.carousel .thumbnail-next { cursor:pointer; visibility:visible; vertical-align:middle; }
.carousel .thumbnail-next.disabled { visibility:hidden; }
.carousel .thumbnail.dot { background:url('../server/images/dot-blue.png') no-repeat 0px 0px; margin:8px 2px; }
.carousel .thumbnail.dot:hover { background-position:0px -13px; }
.carousel .thumbnail.dot.hilite { background-position:0px -26px; }
.carousel .thumbnail.image { background-repeat:no-repeat; margin:12px 8px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.carousel .thumbnail.image.hilite { box-shadow:0px 0px 6px #333; -moz-box-shadow:0px 0px 6px #333; -webkit-box-shadow:0px 0px 6px #333; }
.dashboard .item { margin-bottom:12px; background-color:white; }
.dashboard .column { padding:0px 6px; vertical-align:top; }
.dashboard .column.first { padding-left:0px; }
.dashboard .column.last { padding-right:0px; }
.dashboard .dragging { filter:alpha(opacity=50); opacity:0.5; }
.dashboard .handle { cursor:pointer; }
.charttable { overflow:hidden; }
.charttable.maximum { height:100%; }
.charttable > .title { padding:10px; background-color:#fff; font-size:24px; color:#888; font-weight:bold; }
.charttable .search { background-color:#e5e5e5; border-top:1px solid #bbb; border-bottom:1px solid #bbb; padding:5px; }
.charttable .body { position:relative; overflow:auto; }
.charttable .area { position:absolute; top:0px; bottom:0px; right:0px; left:0px; padding:10px; }
.charttable .chart { width:100%; height:100%; }
.charttable .notfound { padding:20px; font-weight:bold; text-align:center; border:0px; color:#888; }
.charttable .controls { background-color:#ccc; border-top:1px solid #bbb; padding:5px; }
.charttable .top { padding:5px; background-color:#e5e5e5; border-bottom:1px solid #bbb; }
@media print
{
.charttable { height:auto !important; }
.charttable .body { overflow-y:visible !important; height:auto !important; }
}
.recorditem .icon { float:left; padding-right:3px; }
.recorditem .name { font-weight:bold; }
.recorditem .other { float:right; color:#888; }
.recorditem .description { color:#888; margin:2px 5px 0px 5px; }
.selected .recorditem .description, .selected .recorditem .other { color:#eee; }
.grid { width:100%; }
.grid .gridcell { padding:8px; vertical-align:top; }
.grid .gridcell.gridline { border-bottom:1px solid #bbb; padding:4px; padding:4px; border-right:1px solid #bbb; }
.grid .gridrow.last .gridcell.gridline { border-bottom:0px; }
.grid .gridcell.last.gridline { border-right:0px; }
.gantt {  }
.imagegrid { padding:10px; text-align:justify; line-height:1px; }
.imagegrid.maximize { height:100%; width:100%; }
.imagegrid > .cell { display:inline-block; position:relative; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; width:80px; padding:5px; vertical-align:top; margin-bottom:1px; }
.imagegrid > .cell.spacer { height:0px; padding:0px 5px; }
.imagegrid > .cell > .image { display:block; height:80px; position:relative; }
.imagegrid > .cell > .image > .position { display:block; position:absolute; bottom:0px; left:0px; right:0px; text-align:center; }
.imagegrid > .cell > .image img { max-height:100%; max-width:100%; vertical-align:bottom; }
.imagegrid > .cell > .component { line-height:13px; text-align:center; display:block; bottom:0px; left:0px; right:0px; padding:5px 0px 0px; word-break:break-all; }
.record { cursor:default; border-collapse:separate; border-spacing:0px; }
.record .fields { width:100%; vertical-align:top; }
.record .components { vertical-align:top; padding:4px 0px 4px 4px; }
.record .fieldlabel { white-space:nowrap; font-weight:bold; text-align:right; padding:4px 4px 4px 0px; }
.record .fieldvalue { width:50%; padding:4px 0px; }
.record .fieldvalue.half { width:50%; }
.record .fieldvalue.full { width:100%; }
.record .instructions { margin-left:3px; }
.record .note { font-size:90%; color:#888; }
.titlebar .left { padding:0px 4px 0px 0px; white-space:nowrap; text-align:left; width:25%; }
.titlebar .middle { padding:0px 4px; white-space:nowrap; text-align:center; width:50%; }
.titlebar .right { padding:0px 6px 0px 4px; white-space:nowrap; text-align:right; width:25%; }
.titlebar .cell { vertical-align:middle; white-space:nowrap; }
.titlebar .item { display:inline-block; }
.table { overflow:hidden; }
.table.selectable { cursor:default; }
.table.maximum { height:100%; }
.table > .title { border-bottom:1px solid #bbb; padding:10px; background-color:#fff; font-size:24px; color:#888; font-weight:bold; }
.table .search { background-color:#e5e5e5; border-bottom:1px solid #bbb; padding:5px; }
.table .fixed { background-color:#ccc; overflow:hidden; }
.table .body { overflow-x:auto; }
.table .odd { background-color:#e5e5e5; }
.table .cell { padding:4px; }
.table .header { background-color:#ccc; border-bottom:1px solid #bbb; overflow:hidden; }
.table .header .cell { border-right:1px solid #bbb; padding-top:5px; padding-bottom:5px; font-weight:bold; white-space:nowrap; }
.table .header .grouping { border-bottom:1px solid #bbb; }
.table .group { background-color:#f0f0f0; border-top:1px solid #e0e0e0; padding:4px; color:#888; font-weight:bold; }
.table .group .latch { float:left; }
.table .group .content { margin-left:15px; }
.table .set { background:url('../server/images/gradient-small-invert.png') repeat-x left top transparent; }
.table .footer { background-color:#ccc; border-top:1px solid #bbb; overflow:hidden; }
.table .footer .cell { border-right:1px solid #bbb; padding-top:5px; padding-bottom:5px; font-weight:bold; }
.table .row .cell { border-right:1px solid transparent; }
.table .cell.last { border-right:0px; }
.table .notfound { padding:20px; font-weight:bold; text-align:center; border:0px; color:#888; }
.table .controls { background-color:#ccc; border-top:1px solid #bbb; }
.table .sortable { cursor:pointer; }
.table .sortable .content { margin-right:15px; }
.table .sortable .direction { float:right; font-family:arial; }
.table .sort { background-color:#bbb; }
.table .top { padding:5px; background-color:#e5e5e5; border-bottom:1px solid #bbb; }
.table .dragging { box-shadow:0px 0px 40px #666; -moz-box-shadow:0px 0px 40px #666; -webkit-box-shadow:0px 0px 40px #666; border-top:0px; background-color:transparent !important; z-index:1000; filter:alpha(opacity=80); opacity:0.80; }
.caption { color:grey; font-size:90%; }
@media print
{
.table { height:auto !important; }
.table .body { overflow-y:visible !important; height:auto !important; }
.table .fixed { padding-right:0px !important; }
}
.assistant-content { padding:12px; }
.assistant-toolbar { left:0px; right:0px; position:absolute; bottom:0px; padding:10px 0px; margin:0px 20px; }
.assistant-toolbar-screen { left:0px; right:0px; padding:10px 0px; margin:0px 20px; }
.assistant-title { padding:6px 10px; background:url('../server/images/gradient.png') repeat-x bottom #66f; color:#fff; font-weight:bold; }
.splitpanel { height:100%; overflow:hidden; }
.splittitle { border-bottom:1px solid #bbb; padding:10px; font-size:24px; color:#888; font-weight:bold; }
.splittop { border-bottom:1px solid #bbb; background-color:#e5e5e5; padding:5px; }
.splitbottom { border-top:1px solid #bbb; background-color:#e5e5e5; }
.splitparts { position:relative; height:inherit; }
.splitpart { position:absolute; overflow:auto; }
.splitbar { position:absolute; z-index:10; }
.fieldset { border:1px solid #bbb; padding:10px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.fieldset legend { font-weight:bold; padding:0px 5px; }
.stack .stackitem + .stackitem { padding-top:3px; }
.graph { position:relative; }
.accordian.vertical > * { border-top:1px solid #bbb; }
.accordian.vertical .parent { background-color:#ccc; font-weight:bold; }
.accordian.vertical .parent.first { border-top:0px; }
.accordian.horizontal .parent { float:left; }
.accordian.horizontal .child { float:left; position:relative; background-color:#666; }
.accordian.horizontal .child .content { color:white; white-space:nowrap; }
.accordian.horizontal .content { text-align:center; }
.accordian .child { position:relative; }
.accordian .content { padding:5px 10px; }
.simple-content { padding:12px; }
.simple-toolbar { left:0px; right:0px; position:relative; bottom:0px; padding:10px 0px; margin:0px 20px; }
.graph .graphnode { position:absolute; background-color:#eee; border:1px solid #666; cursor:pointer; user-select:none; -moz-user-select:none; -webkit-user-select:none; -ms-user-select:none; -o-user-select:none; -khtml-user-select:none; }
.graph .graphnode .badge { position:absolute; right:-8px; top:-8px; background-color:#bb0000; color:white; font-weight:bold; padding:1px 6px; box-shadow:0px 0px 6px #000; -moz-box-shadow:0px 0px 6px #000; -webkit-box-shadow:0px 0px 6px #000; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; }
.graph .graphnode.box { max-width:100px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; text-align:center; padding:5px; }
.graph .graphnode.circle { border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; min-width:32px; height:32px; padding:5px; }
.graph .graphnode.circle table { height:100%; }
.graph .graphnode.circle td { vertical-align:middle; text-align:center; }
.graph .graphnode.circle.selected td { color:white; }
.link.arrow { padding-right:18px; background:url('../server/images/bluearrow.png') no-repeat right; line-height:16px; display:inline-block; }
.link.color { color:#3769d9; }
.progresstabs { width:100%; border-bottom:1px solid #dbdbdb; background-color:#fff; }
.progresstabs td { vertical-align:middle; color:#555; padding:10px 10px 6px; text-align:center; background:url('../server/images/delim-empty.png') no-repeat right; }
.progresstabs .progressed.selected { font-weight:bold; background:url('../server/images/delim.png') no-repeat right #aaa; }
.progresstabs .progressed { background-color:#aaa; color:#fff; }
.progresstabs .last { background:none; }
.progresstabs .progressed.last { background:#aaa; color:#fff; }
.dialog { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
.dialog > .title { text-align:center; background:url('../server/images/gradient.png') repeat-x bottom #fff; }
.dialog > .dialogmessage { padding:10px 15px; }
.dialog > .dialogcontrols { padding:5px; border-bottom-left-radius:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-right-radius:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; }
.dialog .dialogicon { vertical-align:top; padding-right:10px; }
.dialog .dialogcontent { vertical-align:top; width:100%; }
.simplerecord { cursor:default; border-collapse:separate; border-spacing:0px; }
.simplerecord .fieldlabel { white-space:nowrap; text-align:right; padding:4px 4px 4px 0px; }
.simplerecord .fieldvalue { width:100%; padding:4px 0px; }
.simplerecord .instructions { margin-left:3px; }
.simplerecord .note { font-size:90%; color:#888; }
.itemlist.bullet { list-style:disc outside; padding-left:16px; }
.itemlist.number { list-style:decimal outside; padding-left:16px; }
.itemlist .column { vertical-align:top; }
.itemlist .item { padding-bottom:5px; }
.searchrecord .components { white-space:nowrap; }
.htmlobject .frame { width:100%; height:100%; }
.htmlobject.maximum { height:100%; }
