<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NATIONWIDE WHOLESALERS</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Begin Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Nationwide Wholesalers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        

        <!-- Start Hidden Nav buttons Until Search Available -->
        <div class="btn-group just-hide" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-success active" href="#">Home
            <span class="sr-only">(current)</span></button>
          <button type="button" class="btn btn-success" href="#">About Us</button>
          <button type="button" class="btn btn-success" href="#">Contact</button>
          <button type="button" class="btn btn-success" href="#">Deep Discounts...How?</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              State Listings
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="btnGroupDrop1">
              <!-- Start States -->
              <div>
                  <a class="dropdown-item" href="#">Arkansas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">California (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Connecticut (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Delaware (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Florida (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Georgia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Hawaii (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Idaho (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Illinois (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Indiana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Iowa (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Kansas (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Kentucky (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Louisiana (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maine (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maryland (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Massachusetts (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Michigan (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Minnesota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Mississippi (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Missouri (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Montana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nebraska (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nevada (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Hampshire (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Jersey (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Mexico (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New York (0 - Deals)</a>

                  <a class="dropdown-item" href="#">North Carolina (0 - Deals)</a>
                  <a class="dropdown-item" href="#">North Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Ohio (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oklahoma (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oregon (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Pennsylvania (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Rhode Island (0 - Deals)</a>
                  <a class="dropdown-item" href="#">South Carolina (0 - Deals)</a>

                  <a class="dropdown-item" href="#">South Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Tennessee (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Texas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Utah (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Vermont (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Virginia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">West Virginia (0 - Deals)</a>
                      
                  <a class="dropdown-item" href="#">Wisconsin (0 - Deals)</a>
                                                                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Wyoming (0 - Deals)</a>
              </div>
              <!-- End States -->
              
            </div>            
          </div>
          
        </div>
        <!-- End Hidden Nav buttons Until Search Available -->


        <!-- Start Nav Buttons -->
        <div class="btn-group hide-search" role="group" aria-label="Button group with nested dropdown" id="move-temp-nav">
          <button type="button" class="btn btn-success active" href="#">Home
            <span class="sr-only">(current)</span></button>
          <button type="button" class="btn btn-success" href="#">About Us</button>
          <button type="button" class="btn btn-success" href="#">Contact</button>
          <button type="button" class="btn btn-success" href="#">Deep Discounts...How?</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              State Listings
            </button>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="btnGroupDrop1">
              <!-- Start States -->
              <div>
                  <a class="dropdown-item" href="#">Arkansas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">California (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Connecticut (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Delaware (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Florida (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Georgia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Hawaii (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Idaho (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Illinois (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Indiana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Iowa (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Kansas (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Kentucky (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Louisiana (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maine (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maryland (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Massachusetts (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Michigan (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Minnesota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Mississippi (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Missouri (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Montana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nebraska (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nevada (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Hampshire (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Jersey (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Mexico (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New York (0 - Deals)</a>

                  <a class="dropdown-item" href="#">North Carolina (0 - Deals)</a>
                  <a class="dropdown-item" href="#">North Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Ohio (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oklahoma (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oregon (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Pennsylvania (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Rhode Island (0 - Deals)</a>
                  <a class="dropdown-item" href="#">South Carolina (0 - Deals)</a>

                  <a class="dropdown-item" href="#">South Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Tennessee (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Texas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Utah (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Vermont (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Virginia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">West Virginia (0 - Deals)</a>
                      
                  <a class="dropdown-item" href="#">Wisconsin (0 - Deals)</a>
                                                                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Wyoming (0 - Deals)</a>
              </div>
              <!-- End States -->
              
            </div>            
          </div>
          
        </div>
        <!-- End Nav Buttons -->


        

            <!-- Start Mobile Nav Links -->
        <div class="hide-unless-search">
        <div class="collapse navbar-collapse navbar-right" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Deep Discounts...How?</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Your State
              </a>
              <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Arkansas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">California (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Connecticut (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Delaware (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Florida (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Georgia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Hawaii (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Idaho (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Illinois (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Indiana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Iowa (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Kansas (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Kentucky (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Louisiana (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maine (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Maryland (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Massachusetts (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Michigan (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Minnesota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Mississippi (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Missouri (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Montana (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nebraska (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Nevada (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Hampshire (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Jersey (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New Mexico (0 - Deals)</a>
                  <a class="dropdown-item" href="#">New York (0 - Deals)</a>

                  <a class="dropdown-item" href="#">North Carolina (0 - Deals)</a>
                  <a class="dropdown-item" href="#">North Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Ohio (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oklahoma (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Oregon (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Pennsylvania (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Rhode Island (0 - Deals)</a>
                  <a class="dropdown-item" href="#">South Carolina (0 - Deals)</a>

                  <a class="dropdown-item" href="#">South Dakota (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Tennessee (0 - Deals)</a>

                  <a class="dropdown-item" href="#">Texas (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Utah (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Vermont (0 - Deals)</a>
                  <a class="dropdown-item" href="#">Virginia (0 - Deals)</a>
                  <a class="dropdown-item" href="#">West Virginia (0 - Deals)</a>
                      
                  <a class="dropdown-item" href="#">Wisconsin (0 - Deals)</a>
                                                                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Wyoming (0 - Deals)</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- End Mobile Nav Links -->

        <div class="btn just-hide" id="hide-unless-search">
            <button id="btnGroupDrop1" type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1" id="search-drop">
                <!-- Start Search -->
                <div class="">
                    <form class="form-inline my-2 my-lg-0">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search ZIP, City, or State" aria-label="Search">
                      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Go</button>
                    </form>
                  </div>
                <!-- End Search -->
                
              </div>            
            </div>


        

          </ul>

          <!-- End Navigation Buttons -->

          <!-- Begin Search Bar -->
        <div class="just-hide" id="hide-search">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search ZIP, City, or State" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
        </div>
      </div>
      <!-- End Search Bar -->
    </nav>
    <!-- End Navbar -->











    <!-- hide-unless-search -->

    <!-- Page Content -->
    <div class="container">

      <!-- Header -->
      <header class="jumbotron my-4 center-text">
        <h1 class="">We Are Nationwide Wholesalers</h1>
        <p class="lead">On <strong>6/10/2018</strong> we started bidding on 6,000+ properties. Stay tuned for A LOT more deals.</p>
                <hr class="my-4">
                <p>Click the button to get on our buyers list.</p>


                <a class="btn btn-primary btn-lg" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSe-1Ssdqrpma1Tq22zmZyYES6AyokYZAFl-AOXW_n9nVIRtQQ/viewform?usp=sf_link" role="button">Subscribe</a>

                

                <div class="">

                
                <!-- Modal Trigger Button -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Modal Button
                </button>
                <!-- End Modal Trigger Button -->
                
                <!-- Start Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-1Ssdqrpma1Tq22zmZyYES6AyokYZAFl-AOXW_n9nVIRtQQ/viewform?usp=sf_link" target="_blank"><strong>click here</strong></a> for mobile devices.</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Start Modal Content -->
                            <div class="modal-body">

                                <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeai_HlXekRrFb3SslRXKoGCd8aJskue-YF9nOnrmZRpqcr5w/viewform?embedded=true" 
                                width="100%" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->

                                
                                <div class="embed-responsive-item">
                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe336Bd46urkaEU1NFcLDcaD-jFWXVcwW11uG_B2bzXOl7XUw/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                                </div>

                            </div>
                            <!-- End Model Content -->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
              </div>
      </header>
      
      <div class="container text-center move-featured">
        <h4>
          Featured Deals
        </h4>

      </div>



      <!-- Start Featured Deals -->
      <div class="row text-center">

        <!-- Start Listing 1 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="img/available.png" alt="">
            <div class="card-body">
              <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
              <p class="card-text">
                  Location: <strong>Town, State</strong>
              </p>
              <p>
                  Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
              </p>
              <p>
                  Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
              <p>

              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
              <p>

              </p>
            </div>
            <div class="card-footer">
                <h5>
                  Starting Bid: $5,000
                </h5>
                <p>
                  Bidding Ends: 6/21/2018
                </p>
                <p class="move-bid-time">
                    7 PM Central Time
                </p>
                <div class="bid-area">
                <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                <p class="payment-info">
                  <strong>Payment Due At Closing</strong>
                </p>
              </div>
              </div>
          </div>
        </div>

        <!-- Start Listing 2 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="img/available.png" alt="">
            <div class="card-body">
              <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
              <p class="card-text">
                  Location: <strong>Town, State</strong>
              </p>
              <p>
                  Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
              </p>
              <p>
                  Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
              <p>

              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
              <p>

              </p>
            </div>
            <div class="card-footer">
                <h5>
                  Starting Bid: $5,000
                </h5>
                <p>
                  Bidding Ends: 6/21/2018
                </p>
                <p class="move-bid-time">
                    7 PM Central Time
                </p>
                <div class="bid-area">
                <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                <p class="payment-info">
                  <strong>Payment Due At Closing</strong>
                </p>
              </div>
              </div>
          </div>
        </div>

        <!-- Start Listing 3 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="img/sold.png" alt="">
            <div class="card-body">
              <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
              <p class="card-text">
                  Location: <strong>Town, State</strong>
              </p>
              <p>
                  Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
              </p>
              <p>
                  Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
              <p>

              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
              <p>

              </p>
            </div>
            <div class="card-footer">
                <h5>
                  Starting Bid: $5,000
                </h5>
                <p>
                  Bidding Ends: 6/21/2018
                </p>
                <p class="move-bid-time">
                    7 PM Central Time
                </p>
                <div class="bid-area">
                <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                <p class="payment-info">
                  <strong>Payment Due At Closing</strong>
                </p>
              </div>
              </div>
          </div>
        </div>

        <!-- Start Listing 4 -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="img/available.png" alt="">
            <div class="card-body">
              <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
              <p class="card-text">
                  Location: <strong>Town, State</strong>
              </p>
              <p>
                  Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
              </p>
              <p>
                  Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
              <p>

              </p>
              <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
              <p>

              </p>
            </div>
            <div class="card-footer">
                <h5>
                  Starting Bid: $5,000
                </h5>
                <p>
                  Bidding Ends: 6/21/2018
                </p>
                <p class="move-bid-time">
                    7 PM Central Time
                </p>
                <div class="bid-area">
                <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                <p class="payment-info">
                  <strong>Payment Due At Closing</strong>
                </p>
              </div>
              </div>
          </div>
        </div>        

      </div>
      <!-- End Featured Deals -->



      <!-- Start Newest Deals Section -->
<div class="move-newest-section">
      <div class="container text-center move-featured">
          <h4 class="move-newest-text">
            Newest Deals
          </h4>
  
        </div>
  
        <!-- Page Features -->
        <div class="row text-center alert alert-primary newest-deal-padding">
  
          <!-- Start Listing 1 -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="img/available.png" alt="">
              <div class="card-body">
                <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
                <p class="card-text">
                    Location: <strong>Town, State</strong>
                </p>
                <p>
                    Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
                </p>
                <p>
                    Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
                <p>
  
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
                <p>
  
                </p>
              </div>
              <div class="card-footer">
                  <h5>
                    Starting Bid: $5,000
                  </h5>
                  <p>
                    Bidding Ends: 6/21/2018
                  </p>
                  <p class="move-bid-time">
                      7 PM Central Time
                  </p>
                  <div class="bid-area">
                  <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                  <p class="payment-info">
                    <strong>Payment Due At Closing</strong>
                  </p>
                </div>
                </div>
            </div>
          </div>
  
          <!-- Start Listing 2 -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="img/available.png" alt="">
              <div class="card-body">
                <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
                <p class="card-text">
                    Location: <strong>Town, State</strong>
                </p>
                <p>
                    Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
                </p>
                <p>
                    Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
                <p>
  
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
                <p>
  
                </p>
              </div>
              <div class="card-footer">
                  <h5>
                    Starting Bid: $5,000
                  </h5>
                  <p>
                    Bidding Ends: 6/21/2018
                  </p>
                  <p class="move-bid-time">
                      7 PM Central Time
                  </p>
                  <div class="bid-area">
                  <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                  <p class="payment-info">
                    <strong>Payment Due At Closing</strong>
                  </p>
                </div>
                </div>
            </div>
          </div>
  
          <!-- Start Listing 3 -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="img/sold.png" alt="">
              <div class="card-body">
                <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
                <p class="card-text">
                    Location: <strong>Town, State</strong>
                </p>
                <p>
                    Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
                </p>
                <p>
                    Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
                <p>
  
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
                <p>
  
                </p>
              </div>
              <div class="card-footer">
                  <h5>
                    Starting Bid: $5,000
                  </h5>
                  <p>
                    Bidding Ends: 6/21/2018
                  </p>
                  <p class="move-bid-time">
                      7 PM Central Time
                  </p>
                  <div class="bid-area">
                  <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                  <p class="payment-info">
                    <strong>Payment Due At Closing</strong>
                  </p>
                </div>
                </div>
            </div>
          </div>
  
          <!-- Start Listing 4 -->
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="img/available.png" alt="">

              <div class="card-body">
                <h4 class="card-title smaller-font">Purchase this option: you will hold the exclusive right to purchase this property at the specified price shown inside the contract document. Look at the contract below to learn more.</h4>
                <p class="card-text">
                    Location: <strong>Town, State</strong>
                </p>
                <p>
                    Monthly <strong>Rent</strong> Rate: <strong>$900~</strong> According to <a href="https://www.rentometer.com/" target="_blank">rentometer.com</a>
                </p>
                <p>
                    Immediate <strong>Equity</strong> In Contract: <strong>$30,000~</strong>
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View Comparable Home Sales</a>
                <p>
  
                </p>
                <a href="../dealsources/Sellers/30535 Linden Ave/comp.pdf" target="_blank">View The Contract For Sale</a>
                <p>
  
                </p>
              </div>

              <div class="card-footer">
                  <h5>
                    Starting Bid: $5,000
                  </h5>
                  <p>
                    Bidding Ends: 6/21/2018
                  </p>
                  <p class="move-bid-time">
                      7 PM Central Time
                  </p>
                  <div class="bid-area">
                  <a href="#" class="btn btn-primary move-bid-button">Start Bidding!</a>
                  <p class="payment-info">
                    <strong>Payment Due At Closing</strong>
                  </p>
                </div>
              </div>

            </div>

          </div>        

          <h1 class="invisible-things">
            1
          </h1>
          
          <div class="" id="newest-deals-scroll">
            <nav aria-label="Page navigation example float-right">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>

  
        </div>
        
      </div>

      
      <!-- End Newest Deals Section -->


    </div>
    <!-- End Container -->

    <div class="container">
      
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Endless Technologies, LLC</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function(){
    $('.animated-icon1,.animated-icon3,.animated-icon4').click(function(){
        $(this).toggleClass('open');
    });
});
    </script>

  </body>

</html>
