@import url('../fonts/mermaid/style.css');
@import url('../fonts/vogue/style.css');

.underline--magical {
  background-image: linear-gradient(120deg, #062af7 0%, #6d00a0 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

* {
  margin: 0;
  padding: 0;
}

.notVisible {
  color: rgba(255, 255, 255, 0.342);
}

body {
  font-family: 'Quicksand';
  margin: 0;
  /* overflow: hidden; */
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
}

#myVideo {
  position: fixed;
  right: -0;
  bottom: 0;
  min-width: 110%;
  min-height: 110%;
}

#myNotes {
  display: none;
}

.video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background: #00000098;
}

.mywrapper {
  position: absolute;
  color: #fff;
  display: none;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  font-weight: lighter;
}

.welcome-section {
  font-family: 'Quicksand';

  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  overflow: hidden;
}

.content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fly-in-text {
  list-style: none;
}

.fly-in-text2 {
  list-style: none;
  margin-top: -40px;
}

.fly-in-text li {
  display: inline-block;
  margin-right: 20px;
  font-size: 5em;
  color: #fff;
  opacity: 1;
  transition: all 3s ease;
}

.fly-in-text li:nth-child(5) {
  margin-left: 0;
}

.fly-in-text2 li {
  display: inline-block;
  margin-right: 20px;
  font-size: 5em;
  color: #fff;
  opacity: 1;
  transition: all 3s ease;
}

.fly-in-text2 li:nth-child(7) {
  margin-left: 0;
}

.enter-button {
  display: block;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: #adff2f;
  opacity: 1;
  margin-top: -10px;
  transition: all 1s ease 3s;
}

.enter-button:hover {
  text-decoration: none;
  color: #adff2f;
}

.sub-heading {
  display: block;
  text-align: center;
  font-size: 1.35em;
  text-decoration: none;
  opacity: 1;
  margin-top: -30px;
  transition: all 1s ease 1.5s;
  color: rgba(255, 255, 255, 0.212);
}

.content-hidden .fly-in-text li {
  opacity: 0;
}

.content-hidden .fly-in-text li:nth-child(1) {
  transform: translate3d(-60px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(2) {
  transform: translate3d(-30px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(3) {
  transform: translate3d(0px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(4) {
  transform: translate3d(30px, 0, 0);
}

.content-hidden .fly-in-text li:nth-child(5) {
  transform: translate3d(60px, 0, 0);
}

.content-hidden .fly-in-text2 li {
  opacity: 0;
}

.content-hidden .fly-in-text2 li:nth-child(1) {
  transform: translate3d(-60px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(2) {
  transform: translate3d(-40px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(3) {
  transform: translate3d(-20px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(4) {
  transform: translate3d(0px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(5) {
  transform: translate3d(20px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(6) {
  transform: translate3d(40px, 0, 0);
}

.content-hidden .fly-in-text2 li:nth-child(7) {
  transform: translate3d(60px, 0, 0);
}

.content-hidden .enter-button {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}

.content-hidden .sub-heading {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}

.content {
  /* position: absolute; */
  font-family: 'VT323', monospace;
  top: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  /* height: 180px; */
  padding: 20px;
  font-stretch: expanded;
}

.center {
  text-align: center;
}

#helloText {
  margin-top: 36%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 450%;
}

#helloText {
  opacity: 1;
  transition: 1s opacity;
}

#main-content {
  transition: 1s opacity;
  opacity: 0;
  display: none;
}

#myNavbar {
  top: 50%;
  left: 50%;
  transform: translate(7%, -0%);
}

.svg-wrapper {
  font-family: 'Vogue-Regular';
  font-size: 1vh;

  height: 60px;
  /* margin: 0 auto;
  position: relative; */
  top: 50%;
  margin-top: 35px;
  /* transform: translateY(-50%); */
  width: 220px;
  display: inline-block;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -325;
  stroke-width: 8px;
  stroke: #ffffff5e;
}

.text {
  text-align: center;
  color: #fff;
  /* font-family: 'Roboto Condensed'; */
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -46px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

#intro {
  font-family: 'Mermaid-Bold';
  font-size: 24px;
  /* color: rgb(0, 195, 255); */
}

#pageTop {
  font-family: 'Mermaid-Bold';
  font-size: 24px;
  /* color: rgb(0, 195, 255); */
}

#whatCanCode {
  margin-top: 19%;
  font-size: 52px;
}

.svgIcons {
  margin-top: 3%;
}

#anythingFrom {
  font-size: 40px;
  margin-top: -10px;
  line-height: 110%;
}

#myPic {
  float: left;
  margin: 0;
  margin-bottom: -4px;
  padding-right: 10px;
}

.links {
  display: none;
}
