body{min-width:0!important}
.container{width:inherit}
@media screen and (max-width:340px){#rc-imageselect,.recaptchaModule{transform:scale(.7);-webkit-transform:scale(.7);transform-origin:0 0;-webkit-transform-origin:0 0}
}
.trulia_popup{background-color:#fff;padding:1em;border:1px solid #ccc;border-radius:5px}
.trulia_popup .container-close{background:url(//static.trulia-cdn.com/images/flair/popup/img_close_new.gif) no-repeat #fff;font-size:1px;height:15px;width:15px;top:10px!important;right:17px;cursor:pointer;border-radius:8px}
.send_to_friend_bottom{padding-top:1em;padding-bottom:1em}
.send_to_friend_bottom div{display:inline-block;margin-left:3em}
.send_to_friend_bottom a:first-child{border-radius:4px;cursor:pointer;display:inline-block;font-size:15px;font-weight:400;line-height:1.2;margin:0;outline:0;padding:.6em 1em .5em;text-align:center;text-decoration:none;transition:all .15s ease-in-out;vertical-align:middle;border:1px solid #20c063;color:#fff;background:#20c063}
.send_to_friend_bottom a:first-child:hover{border:1px solid #2ed975;background:#2ed975}
.send_to_friend_bottom a:first-child:active{border:1px solid #21b35e;background:#21b35e}
.mini-form{border-radius:4px}
.mini-form .askMiniModule{margin:0;padding:0}
.menu_contents{background-color:#fff;border:1px solid #000;padding:5px;position:absolute;text-align:left;z-index:5000}
.flist a,.flist li,.menu_contents p span{color:#0054A6;text-decoration:none;cursor:pointer}
.flist a:hover,.flist li:hover,.menu_contents p span{color:#590;text-decoration:underline}
.trulia_popup .user_fields .segment{margin:5px 0}
#voices_contact_popup_form .header{padding:0}
.trulia_popup .agent_info{margin-bottom:10px}
.send_and_cancel_btns .button2{display:inline}
.send_and_cancel_btns{margin:0 auto;width:200px}
#msg_label_vp{display:block}
#msg_vp{margin:5px 0;width:205px;height:100px}
#u_phone_vp{margin-left:5px}
#u_name_vp{margin-left:8px}
#u_email_vp{margin-left:10px}
.trulia_popup{margin:0 auto!important}
.trulia_popup .agent_info img{width:75px}
.trulia_popup .container-close{display:none!important}
#follow_question_popup{margin:0 auto}
.popular-cities-columns{display:flex;justify-content:flex-start}
@media (max-width:600px){#global_nav_searchbox{width:100%!important}
}
.category-tab{position:relative}
.category-tabs .selected-tab{border-bottom:transparent}
.category-tabs .selected-tab::after{content:" ";display:inline-block;position:absolute;background-color:#fff;height:2px;width:100%;left:0;bottom:-2px}
.category-tabs .selected-tab a{color:#000;font-weight:700}
.autosuggest_shadow{color:#999;border:1px solid transparent;display:table-cell;vertical-align:middle;line-height:normal}
.autosuggest_background{position:absolute;display:table;border-spacing:0;border-collapse:collapse}
*html .trulia_popup_c #down_low,*html .trulia_popup_c #top_side,body .trulia_popup_c .trulia_popup .ft,body .ui-dialog .required .popup_cancel_link{display:none}
html.x-firefox .autosuggest_background{margin-left:1px}
.autosuggest_list{min-width:100px;position:absolute;border:1px solid #ccc;background-color:#fff;color:#666;z-index:1050}
.autosuggest_list.scrolling{max-height:50%;overflow-x:hidden;overflow-y:auto}
.autosuggest_list ul{list-style:none;padding:0;margin:0}
.autosuggest_list li{padding:4px 6px;overflow:hidden;white-space:nowrap;cursor:pointer}
.autosuggest_list li.selected{background-color:#F2F1F2;color:#666}
.autosuggest_list.no_results li.selected{background-color:inherit;color:inherit}
.autosuggest_list.no_results{background-color:#faf0ee;color:#d14b26;border:1px solid #d14b26}
.autosuggest_list li.user-value{border-top:1px solid #ccc;margin-top:1px;padding-top:6px}
.autosuggest_list li.group_heading{color:#999;background-color:#f9f9f9;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.popup{background-color:#fff;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:2px 2px 8px rgba(0,0,0,.3);-moz-box-shadow:2px 2px 8px rgba(0,0,0,.3);box-shadow:2px 2px 8px rgba(0,0,0,.3)}
.trulia_popup .popup{border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.popup-bd{padding:15px}
.drop_shadow{background:url(//static.trulia-cdn.com/images/popup-dropshadow.png) bottom right no-repeat}
*html .drop_shadow{background:url(//static.trulia-cdn.com/images/ds_ie.gif)}
.drop_shadow_inner{border:1px solid #000;background-color:#fff;padding:7px 15px;float:left;position:relative;left:-5px;top:-5px;text-align:left}
.drop_shadow.popup,.popup_table,.popup_table_new{position:absolute;z-index:1500}
*html .drop_shadow_inner{left:-3px;top:-3px}
.drop_shadow.popup{float:left;width:345px}
.popup_shadow{background:url(//static.trulia-cdn.com/images/flair/popup/img_tranparent_grey.png) top left no-repeat}
.popup_background{background:#5EAB1F;width:464px;margin:10px 4px 4px 10px;padding:5px 0;border:1px solid #3D9B00;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.popup_content{background-color:#fff;font-size:12px;line-height:14px;margin:0 5px;padding:15px;border:1px solid #777}
.popup_header{font-size:13px;font-weight:700;padding-bottom:10px}
.popup_bottom_left,.popup_bottom_right,.popup_top_right{font-size:1px;line-height:1px}
.popup_top_right{background-position:top right;width:6px}
.popup_bottom_left{background-position:bottom left;height:6px}
.popup_bottom_right{background-position:bottom right;height:6px;width:6px}
.new_popup_header{color:#fff;text-shadow:1px 1px 0 #666;font-size:18px;font-weight:700;padding:2px 10px 5px}
.new_popup_header .fleft{width:90%}
.popupsection{border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px}
.popup_content .button,.popupsection input,.popupsection select{width:auto}
.popupsection label{font-weight:400;float:none}
body .fixed_dialog{position:fixed}
body .new_popup{font-family:OpenSans,Arial,sans-serif;font-weight:400}
body .ui-dialog .ui-dialog-content{overflow:visible;padding:0;position:static}
body .ui-dialog .trulia_popup_c{background:url(//static.trulia-cdn.com/images/flair/popup/img_tranparent_grey.png) left -10px no-repeat}
body .new_popup .trulia_popup_c{background:0 0}
body .trulia_popup_c .trulia_popup{background:#5EAB1F;padding:5px;border:1px solid #590;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;margin:0 10px;z-index:1001;font-size:12px}
*html .trulia_popup_c .trulia_popup{margin:0}
body .new_popup .trulia_popup_c .trulia_popup{border:0;background-color:#fff;padding:0;font-size:12px}
body .trulia_popup_c .trulia_popup .hd{color:#FFF;font-size:18px;font-weight:700;padding:3px 15px 9px 5px;border:0;margin:0;line-height:18px;text-shadow:1px 1px 0 #666}
body .new_popup .trulia_popup_c .trulia_popup .hd{color:#000;text-shadow:none;padding:0;font-weight:400}
body .new_popup .trulia_popup_c .trulia_popup .hd sup{color:#5eab1f;font-size:16px}
body .trulia_popup_c .trulia_popup .bd{background-color:#FFF;border:1px solid #5EAB1F;margin:0;padding:15px;border-radius:5px;-moz-border-radius:5px}
body .new_popup .trulia_popup_c .trulia_popup .bd{padding:0;border:0}
body .trulia_popup_c .trulia_popup .ft{margin:0;padding:8px;border:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#E8E8E8}
body .trulia_popup_c .trulia_popup .trulia_popup_content{border-radius:5px;padding:5px}
body .new_popup .trulia_popup_c .trulia_popup .trulia_popup_content{padding:10px 25px}
body .ui-dialog,body .ui-dialog-titlebar{padding:0;background:none;border:0;display:none;overflow:visible;width:auto}
body .trulia_popup_c #top_side{top:-10px}
body .trulia_popup_c #down_low,body .trulia_popup_c #top_side{position:absolute;left:0;height:10px;width:100%}
body .trulia_popup_c #down_low{bottom:-10px}
body .trulia_popup_c .tl{position:absolute;left:0;top:0;width:10px;height:10px;background-position:left top}
body .trulia_popup_c .tm{width:auto;height:10px;margin:0 10px;background-position:center top}
body .trulia_popup_c .tr{position:absolute;right:0;top:0;width:10px;height:10px;background-position:right top}
body .trulia_popup_c #down_low .tl{background-position:left bottom}
body .trulia_popup_c #down_low .tm{width:auto;height:10px;margin:0 10px;background-position:center bottom}
body .trulia_popup_c #down_low .tr{background-position:right bottom}
.popup input,.popup select,.popup textarea,.popup_table input,.popup_table select,.popup_table textarea{border:1px solid #CCC;border-radius:4px;font-size:13px;line-height:normal;margin:0;padding:4px;vertical-align:middle;font-family:OpenSans,sans-serif}
.popup textarea,.popup_table select,.popup_table textarea{background-image:-moz-linear-gradient(center top ,#F3F3F3 0,#FFF 100%) repeat scroll 0 0 transparent;background-image:-webkit-gradient(linear,center bottom,center top,from(#f3f3f3),to(#fff))}
body .trulia_popup_c .trulia_popup .container-close{background:url(//static.trulia-cdn.com/images/flair/popup/img_close.gif) no-repeat #5EAB1F;font-size:1px;height:15px;width:15px;top:10px!important;right:17px;cursor:pointer;border-radius:8px}
.popup_closer,.popup_closer_iw{background-image:url(//static.trulia-cdn.com/images/flair/main_imgsheet_20120106.png);background-repeat:no-repeat;float:right;height:12px;width:12px}
.new_popup_header .popup_closer,.popup_closer_iw{background-position:0 -840px;font-size:1px;height:15px;width:15px;margin:3px 0 0}
body .new_popup .trulia_popup_c .trulia_popup .container-close{background:url(//static.trulia-cdn.com/images/flair/popup/img_close_new.gif) no-repeat #fff}
.popup_cancel_link,body .ui-widget-content .popup_cancel_link{color:#666}
.popup_cancel_link{font-size:11px;text-decoration:underline;margin-right:6px}
.popup_cancel_link:hover,body .ui-widget-content .popup_cancel_link:hover{color:#00e677}
.bottom_two_btns{margin:0 auto;width:135px;height:30px}
.bottom_two_btns td{vertical-align:middle}
.bottom_two_btns .right{padding-left:20px}
.bottom_two_btns .right .button a{display:inline-block;white-space:nowrap}
.trulia_popup .transparent_btn{display:none}
.narrowIcon{float:left;position:relative;text-align:left;width:5em}
.narrowIcon.narrowIconRight{float:right}
.narrowIcon .fullStars{position:absolute;float:none;top:0;left:0;width:0;overflow:hidden;white-space:nowrap}
.narrowIcon .fullStars.stars0{width:0}
.narrowIcon .fullStars.stars5{width:.25em}
.narrowIcon .fullStars.stars10{width:.9em}
.narrowIcon .fullStars.stars15{width:1.25em}
.narrowIcon .fullStars.stars20{width:1.9em}
.narrowIcon .fullStars.stars25{width:2.25em}
.narrowIcon .fullStars.stars30{width:2.9em}
.narrowIcon .fullStars.stars35{width:3.25em}
.narrowIcon .fullStars.stars40{width:3.9em}
.narrowIcon .fullStars.stars45{width:4.25em}
.narrowIcon .fullStars.stars50{width:100%}
.narrowIcon i:before,.oocss .narrowIcon i:before{width:.7em;margin-right:0}
.rating_widget,.static_rating_widget ul{margin:0;padding:0;list-style:none;overflow:hidden}
.static_rating_widget ul{display:inline-block}
.rating_widget li,.static_rating_widget li{display:block;float:left;margin:2px;background:url(//static.trulia-cdn.com/images/flair/ratings24.png) no-repeat}
.rating_widget_label_small{margin-top:1px}
.rating_star_small li{height:11px;width:11px;background-position:-79px 0;margin:2px}
.rating_star_small li.filled,.rating_star_small li.selected{background-position:-79px -60px}
.rating_star_small li.partial div{background:url(//static.trulia-cdn.com/images/flair/ratings24.png) -79px -60px no-repeat;height:11px}
.rating_bar_small{border:1px solid #ccc}
.rating_bar_small li{font-size:1px;height:8px;width:11px;margin:2px;background-image:none;background-color:#ccc;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.rating_bar_small li.filled,.rating_bar_small li.partial div{background-color:#B4CF47}
.rating_bar_small li.selected{background-color:#F2B73A}
.rating_bar_small li.partial div{height:8px;width:11px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}
.rating_bar_medium{border:1px solid #ccc}
.rating_bar_medium li{font-size:1px;background-color:#CCC;background-image:none;height:9px;margin:3px 2px;width:13px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.rating_bar_medium li.filled{background-color:#B4CF47}
.rating_bar_medium li.selected{background-color:#F2B73A}
.rating_star_medium li,.rating_star_medium_green li{height:22px;width:22px}
.rating_star_medium li.filled,.rating_star_medium li.selected{background-position:0 -30px}
.rating_star_medium_green li{background-position:0 0}
.rating_star_medium_green li.filled{background-position:0 -60px}
.rating_star_medium li.partial div{background:url(//static.trulia-cdn.com/images/flair/ratings24.png) 0 -30px no-repeat;height:22px}