/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Vogue-Regular";
  src: url("./fonts/Vogue.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Vogue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Vogue.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Vogue.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Vogue.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Vogue.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Vogue.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}