header {
    border: 2px solid black;
    height: 200px;
    width: 80%;
    font-size: 50px;
    text-align: center;
    margin: 5px auto;

}

.underscores {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    font-size: 80px;
    text-align: center;
    margin: 5px auto;

}


.mybox {
    border: 2px solid black;
    height: 150px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;
}

.rightGuess {
    /* border: 2px solid black; */
    height: 150px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;

}

.wrongGuess {
    /* border: 2px solid black; */
    height: 150px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 5px auto;

}
