/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Mermaid-Bold";
  src: url("./fonts/Mermaid1001.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Mermaid1001.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Mermaid1001.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Mermaid1001.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Mermaid1001.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Mermaid1001.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Mermaid1001.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}